/*
Style sheet for my Batman site example
Kay Piotrowski - started 4/18/22
Header: #999999
Body: #CCCCCC
body text: #272526
Check it out: #999999
Footer: #333333
Footer text: #C2C2C2
*/

body {
	background-image: url("images/geometry.png");
	background-repeat: repeat-x;
	background-repeat: repeat-y;
}
.call1 {
	background-color: #999999;
}
